<div class="page-header">
  <h1><%= @publication.title %> <small>by <%= @publication.user.first_name %> <%= @publication.user.last_name %></small></h1>
</div>

<div class="row">
<div class="col-xs-8"><%= @publication.description %></div>
<div class="col-xs-4">
<% if !@publication.rewards.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contribute now!</h3>
  </div>
  <div class="panel-body">
    <p>Like what you see? Want to see more? Support <%= @publication.user.first_name %> <%= @publication.user.last_name %> and <%= @publication.title %> by contributing today!</p>

    <% @publication.rewards.each do |reward| %>
      <div class="reward" data-id="<%= reward.id %>" data-title="<%= reward.title %>" data-amount="<%= (reward.price * 100).to_i %>"><span class="title"><%= reward.title %></span><span class="description"><%= reward.description %></span><div class="price"><%= reward.price %></div></div>
    <% end %>

    <% if current_user.nil? %>
      <a type="button" href="<%= new_user_session_path %>" class="btn btn-success btn-lg btn-block">Login to contribute!</a>
    <% else %>
      <button type="button" class="btn disabled btn-primary btn-lg btn-block">Take my money!</button>
    <% end %>
  </div>
</div>
<% end %>
</div>
</div>

<style>
.reward.active {
  font-weight: 700;
}

.reward .title:after {
  content: " - ";
}

.reward .price:before {
  content: "$";
}
</style>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var email = "<%= '' if current_user.nil? or current_user.email %>",
  handler = StripeCheckout.configure({
  key: 'pk_test_7to8XU3q719PFi9D3nmQ4iVt',
  //image: '/square-image.png',
  token: function(token) {
    var data = {
      charge: {
        token: token.id,
        reward_id: rewardId
      }
    };

    $.post('<%= charges_path %>', data, function () {
      console.log('success');
    });

    // Use the token to create the charge with a server-side script.
    // You can access the token ID with `token.id`
  }
});

$(".reward").on('click', function() {
  var data = $(this).data();
  rewardId = data.id;
  $(this).siblings().removeClass('active');
  $(this).addClass('active');


  $("button.btn-block.btn-primary").off('click');
  $("button.btn-block.btn-primary").on('click', function(e) {
    handler.open({
      name: 'Pulp Fiction',
      email: email,
      description: data.title,
      amount: data.amount
    });
  });
  $("button.btn-block.btn-primary").removeClass('disabled');
});

</script>

<div class="reviews-container row">
  <div class="col-xs-12">
  	<% if @publication.reviews.nil? || @publication.reviews.length == 0 %>
  	No reviews yet. Why don't you write one?
  	<% else %>
  		<% @publication.reviews.each do |review| %>
  			<%= render partial: '/reviews/show', locals: {review: review} %>
  		<% end %>
  	<% end %>
  </div>
</div>

<div class="reviews-form row">
  <div class="col-xs-8">
    <h3>Write a new review</h1>
    <%= render partial: '/reviews/form' %>
  </div>
</div>

<% if current_user && current_user.id == @publication.user_id %>
<%= link_to 'Edit', edit_publication_path(@publication) %> | <%= link_to 'Add Rewards', publication_rewards_path(@publication) %> | 
<% end %>
<%= link_to 'Back', publications_path %>
