<div class="page-header">
  <h1><%= @publication.title %> <small>by <%= @publication.user.first_name %> <%= @publication.user.last_name %></small></h1>
</div>

<div class="row">
<div class="col-xs-8"><%= @publication.description %></div>
<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contribute now!</h3>
  </div>
  <div class="panel-body">
    <p>Like what you see? Want to see more? Support <%= @publication.user.first_name %> <%= @publication.user.last_name %> and <%= @publication.title %> by contributing today!</p>

    

    <button type="button" class="btn btn-primary btn-lg btn-block">Take my money!</button>
  </div>
</div>
</div>
</div>

<div class="reviews-container">
	<% if @publication.reviews.nil? || @publication.reviews.length == 0 %>
	No reviews yet. Why don't you write one?
	<% else %>
		<% @publication.reviews.each do |review| %>
      <% puts review %>
			<%= render partial: '/reviews/show', locals: {review: review} %>
		<% end %>
	<% end %>
</div>

<div class="reviews-form">
  <h3>Write a new review</h1>
  <%= render partial: '/reviews/form' %>
</div>

<% if current_user && current_user.id == @publication.user_id %>
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<% end %>
<%= link_to 'Back', publications_path %>
