<!DOCTYPE html>
<html class="csstransitions no-touch" lang="en">
<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
  <title>Pulp Fiction</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fade">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>